body{
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    margin: 0;
    padding: 10px;
    text-align: center;
    letter-spacing: .5em;
    text-transform: uppercase;
    background: linear-gradient(to right, red, yellow);
    top: 15%;
}

#color1, #color2{
    padding: 0;
}

h1{
    font-size: 550%;
    width: 100%;
    letter-spacing: .5em;
}

h2{
    font-size: 300%;
    letter-spacing: .1em;
}

